body {
  margin: 0;
  padding: 0, 0, 0, 0;
  font-family: sans-serif;
}

.clickable {
  cursor: pointer;
}

.navbar {
  margin-bottom: 20px;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
